body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 23px;
    width: 100%;
    box-shadow: 5px 5px 15px grey;
}

.note {
    font-size: 16px;
    color: black;
}

select {
    opacity: 0.7;
}

.copy-right-footer {
    position: fixed;
    bottom: 0;
    line-height: 3;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: grey;
    width: 100%;
    opacity: 0.7;
}

canvas {
    border: 5px solid grey;
    background-color: rgb(180, 177, 177);
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;
}

video {
    border: 5px solid grey;
    background-color: rgb(180, 177, 177);
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;
}